/* fondo logo */
.navbar .navbar-brand{
    background: #ffffff;
}


.navbar-expand .navbar-nav .nav-link {
    padding-right: .8rem!important;
    padding-left: .8rem!important;
}

/* texto login */
#page-login-index .page-brand-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
}

/* footer moodle */
#page-footer {
    display:none;
}


/* CURSOS */
#page-course-view-remuiformat.pagelayout-course .remui-format-list #section-0{
    background-color: #fff!important;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 #ddd;
}


#page-course-view-remuiformat .remui-format-list #section-0 .course-cover-image{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px
}

#page-course-view-remuiformat .general-section .text-white {
    text-align: center;
    margin: 10px 30px 10px 30px;
}

#page-course-view-remuiformat .showactivitywrapper{
    margin: 25px;
}

#page-course-view-remuiformat .showactivitywrapper:hover{
    background: #f7f7f7;
}


#page-course-view-remuiformat .remui-format-list #section-0 .general-section-activities{
    padding-top: 30px!important;
}


