<div class="profile bg-color color" style="position: inherit !important;">
    <div class="w70 m0auto p60-50 flex">
        <div class="photo radius-50"><img src={{userimg}} alt="" srcset=""/></div>
        <h2 class="text-white">{{username}}</h2>
        <!--        <div class="point">-->
        <!--            <div class="content bg-white">-->
        <!--                <div class="points radius-50"><img src="./img/icons/point-a.svg" alt=""/></div><span class="text-info-2 gotham-medium">{{user.points}} PUNTOS</span>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<div class="mis-cursos w70 m0auto p60-50">
    {{#pendingcoursesexist}}
    <h2 class="mb-4 text-center line pb-4"><span class="text-tercery">Tus cursos pendientes</span></h2>
        <div class="arrow-left"><img src="../local/qroma_front/img/icons/arrow-success.svg" alt="" srcset=""/></div>
        <div class="tabs">
            <div class="body">
                {{{pendingcourses}}}
            </div>
        </div>
        <div class="arrow-right"><img src="../local/qroma_front/img/icons/arrow-success.svg" alt="" srcset=""/></div>
        <div class="actions">
            <div class="item active"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    {{/pendingcoursesexist}}
</div>
<!--    <div class="p60-50 bg-secondary progress-bar-general">-->
<!--        <div class="w70 m0auto pb-5 relative">-->
<!--            <div class="arrow-left"><img src="../local/qroma_front/img/icons/arrow-success.svg" alt="" srcset=""/></div>-->
<!--            <div class="bar">-->
<!--                <div class="color"></div>-->
<!--                <div class="level">-->
<!--                    <div class="points radius-50X bg-info"><img src="../local/qroma_front/img/icons/points.svg" alt=""/><span>JUNIOR</span></div>-->
<!--                </div>-->
<!--                <div class="level active">-->
<!--                    <div class="points radius-50X bg-primary"><img src="../local/qroma_front/img/icons/points.svg" alt=""/><span>INTERMEDIO</span></div>-->
<!--                </div>-->
<!--                <div class="level">-->
<!--                    <div class="points radius-50X bg-danger"><img src="../local/qroma_front/img/icons/points.svg" alt=""/><span>AVANZADO</span></div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="arrow-right"><img src="../local/qroma_front/img/icons/arrow-success.svg" alt="" srcset=""/></div>-->
<!--        </div>-->
<!--        <div class="body w70 m0auto flex mt-5">-->
<!--            <div class="ranking">-->
<!--                <div class="header bg-info text-white">Ranking por áreas</div>-->
<!--                <div class="content">-->
<!--                    <table>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>Comercial</td>-->
<!--                            <td><img src="../local/qroma_front/img/icons/as.svg" alt="" srcset=""/></td>-->
<!--                            <td>158 puntos</td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="progreso">-->
<!--                <div class="header bg-info text-white">Mi progreso</div>-->
<!--                <div class="content bg-white">-->
<!--                    <div class="flex"><span>254 cursos en el portafolio</span>-->
<!--                        <div class="progress-bar-h">-->
<!--                            <div class="active bg-success"></div><span class="text-white">250 cursos terminados</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="valoration">-->
<!--                        <div class="item"><span class="num">15</span><span class="bg-secondary">Premios Canjeados</span></div>-->
<!--                        <div class="item"><span class="num">12</span><span class="bg-secondary">Valoraciones</span></div>-->
<!--                        <div class="item"><span class="num">6</span><span class="bg-secondary">Aprendizajes conpartidos</span></div>-->
<!--                        <div class="item"><span class="num">0</span><span class="bg-secondary">Discusiones</span></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<div class="mis-cursos-2 w70 m0auto p60-50">
    <div class="header flex">
        <h2 class="mb-4"><span class="text-tercery line pb-4 after-left after-80">mis cursos</span></h2>
        <!--            <div class="options">-->
        <!--                <form action="">-->
        <!--                    <div class="form-group">-->
        <!--                        <input type="text" id="text-search"/>-->
        <!--                        <label for="text-search">¿Qué curso estás buscando?</label>-->
        <!--                        <button><img src="../local/qroma_front/img/icons/search-2.svg" alt="" srcset=""/></button>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--                <form action="">-->
        <!--                    <div class="form-group">-->
        <!--                        <select>-->
        <!--                            <option>Filtrar cursos por categoria</option>-->
        <!--                        </select>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
    </div>
    <div class="body">
        {{{allcourses}}}
    </div>
</div>