<footer {{#colorcentro}}class="color"{{/colorcentro}} {{#qroma}}class="bg-secondary-footer"{{/qroma}}>
    <div class="w70">
        <div class="menus w75">
            <div class="site-map w33">
                <h3>MAPA DEL CAMPUS QROMA</h3>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/local/catalogo_cursos">CATÁLOGO</a></li>
                    <li><a href="/local/qromateca">QROMATECA</a></li>
                    <li><a href="/course/edit.php?category=1">CREAR CURSO</a></li>
                </ul>
            </div>
            <div class="site-map w33">
                <h3>MI PERFIL</h3>
                <ul>
                    <li><a href="/my">MI APRENDIZAJE</a></li>
                    <li><a href="/local/catalogo_cursos">MIS CURSOS</a></li>
                    <li><a href="/admin/search.php">ADMINISTRADOR</a></li>
                </ul>
            </div>
        </div>
        <div class="redes w25">
            <h3>SÍGUENOS EN LAS REDES</h3>
            <div class="list">
                <a href="https://www.youtube.com/channel/UCbrKi-2WtxaWYjzDSpV9yxw">
                    <div class="item">
                        <img src="/local/qroma_front/img/icons/youtube.svg" alt=""/>
                    </div>
                </a>
                <a href="https://www.linkedin.com/company/qroma/">
                    <div class="item">
                        <img src="/local/qroma_front/img/icons/linkeding.svg" alt=""/>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="copy">QROMA 2020 © TODOS LOS DERECHOS RESERVADOS</div>
</footer>