<div id="app">
    <div class="search bg-d-4">
        <div class="w70 m0auto p60-50">
            <h2 class="text-white">QROMATECA</h2>
            <form action="">
                <div class="form-group">
                    <input type="text" id="text-search"/>
                    <label for="text-search">¿Qué aprendizaje estás buscado?</label>
                    <button><img src="/local/qroma_front/img/icons/search.svg" alt="" srcset=""/></button>
                </div>
            </form>
        </div>
    </div>
    <div class="p60-50">
        <div class="category-title w70 m0auto p50-50 pb-3">
            <h2 class="mb-1"><span class="text-info gotham-medium">{{desarrollo.length}} Aprendizajes </span><span class="text-success pacifig">compartidos contigo</span></h2>
            <h5>Encuentra y comparte aprendizajes</h5>
        </div>
    </div>
    <div class="p60-50 bg-secondary desarrollo-personal">
        <div class="body" style="padding: 0 0 40px 0;">
            <div class="col-sm" style="padding-left: 0;"><a type="button" href="create.php" class="btn-success qromateca-success-button">COMPARTE TU APRENDIZAJE AQUÍ</a></div>
            <div class="col-sm-3" style="padding-top: 14px;padding-right: 0;">
                <select @change="onChangeSort($event)" class="form-control">
                    <option value="1">Los más vistos primero</option>
                    <option value="2">Los más recientes primero</option>
                </select>
            </div>
        </div>
        <div class="body">
            <div class="item" v-for="item in desarrollo">
                <div class="img">
                    <div class="bg-img" :style="'background: url('+item.img+')'"></div>
                    <div class="icons"><!--<img class="like" src="./img/icons/like-2.svg"/>--><img :src="'/local/qroma_front/img/icons/' + item.icon"/></div>
                </div>
                <div style="padding: 0 10px; padding-top: 7px; font-size: 12px; color: #6ABF4C;">Compartido por {{item.user}}</div>
                <h3 class="title text-info">
                    <div></div>
                    <a :href="'view.php?id=' + item.id">{{item.nombre}}</a>
                </h3>
                <div class="footer">
                    <div class="like row">
                        <div class="h-100" style="width: 165px; margin-left: 6%;">
                            <img src="/local/qroma_front/img/icons/like.svg" height="100%"/>
                            <span class="text-tercery">{{item.vistas}}</span>
                            <img src="/local/qroma_front/img/icons/like.svg" height="100%"/>
                            <span class="text-tercery">{{item.cant_comentarios}}</span>
                        </div>
                        <div class="col-sm h-100">
                            <img @click="aprobar(item.id)" style="cursor: pointer; width: 37px; height: 37px;" v-if="item.gestor && item.estado_aprobacion == 0" src="/local/qroma_front/img/icons/aprobado.svg" height="100%"/>
                            <img style="width: 37px;" v-if="item.gestor && item.estado_aprobacion == 1"/>
                            <img @click="desaprobar(item.id)" style="cursor: pointer; width: 37px; height: 37px;" v-if="item.gestor" src="/local/qroma_front/img/icons/desaprobado.svg" height="100%"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back">
                <div class="qroma-modal">
                    <div class="title">
                        <h3>Contenido publicado</h3>
                        <h4>Ahora todos pueden verlo</h4>
                        <div class="close" @click="closeModalAprobado">X</div>
                    </div>
                    <div class="footer">
                        <div @click="continuar" class="btn-success qromateca-success-button">CONTINUAR</div>
                    </div>
                </div>
            </div>
            <div class="back-des">
                <div class="qroma-modal">
                    <div class="title">
                        <h3>¿Seguro que deseas darle de baja al aprendizaje?</h3>
                        <h4>Una vez borrado no se podrá recuperar</h4>
                        <div class="close" @click="closeModal">X</div>
                    </div>
                    <div class="footer">
                        <div @click="closeModal" class="qromateca-white-button">CANCELAR</div>
                        <div style="margin-left: 20px;" @click="desaprobarAction" class="qromateca-success-button">CONFIRMAR</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>