<div id="app">
    <div style="margin: auto; padding: 2%;">
        <h2 class="q-big-blue-text">{{nombre}}</h2>
        <div>
            <div style="margin: auto; text-align: center;">
                <h4 class="q-small-blue-text">Compartido por {{user}}</h4>
            </div>
            <div class="like" style="margin: auto; text-align: center; margin-bottom: 2%;">
                <img @click="aprobar" v-if="gestor && estado_aprobacion == 0" src="/local/qroma_front/img/icons/aprobado.svg" style="height: 30px;cursor: pointer;"/>
                <img @click="desaprobar" v-if="gestor" src="/local/qroma_front/img/icons/desaprobado.svg" style="height: 30px;cursor: pointer;"/>
            </div>
            <div style="margin: auto;text-align: center;width: 79%;">
                <div class="white-container">
                    <div v-if="tipo != 2">
                        <iframe v-if="link==''" width="90%" height="730" :src="documento_url" style="margin-top: 3%;"></iframe>
                        <iframe v-if="link!=''" width="90%" height="730" :src="link" style="margin-top: 3%;"></iframe>
                    </div>
                    <div v-if="tipo == 2" v-html="link" class="pt-50">
                        {{link}}
                    </div>
                    <div class="row white-container-footer">
                        <div class="col pl-0 text-align-left">Compartido el {{creado}}</div>
                        <div class="col-sm-2 pr-0 text-align-right">{{vistas}} vistas</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-comentario-container">
            <div class="q-comentario-title">COMENTARIOS</div>
            <div style="margin-top: 30px;">
                <input class="q-comentario-input" v-model="comentTxt" placeholder="Añade un comentario...">
            </div>
            <div style="text-align: right; margin-top: 10px;">
                <input @click="comentar" class="q-comentario-button" type="button" value="COMENTAR"></div>
            <div v-for="item in comentarios" class="q-comentarios-container">
                <div class="row" style="margin-left: 1%; margin-top: 10px;">
                    <div style="color: #085CB7; font-weight: 500; line-height: 30px;">{{item.user}}</div>
                    <div style="margin-left: 1%;color: #9F9F9F; line-height: 30px;">{{item.date}}</div>
                    <img v-if="item.comentario_user_id == item.current_user_id" @click="eliminarComentario(item.id)" src="/local/qroma_front/img/icons/tacho.svg"
                         style="height: 18px; cursor: pointer; margin-left: 20px; width: 14px; margin-top: 3px;"/>
                </div>
                <div style="margin-left: 1%;">
                    {{item.comentario}}
                </div>
            </div>
        </div>
        <div style="margin-top: 5%; text-align: center;">
            <a type="button" href="index.php" class="btn-success qromateca-success-button">REGRESAR</a>
        </div>
        <div class="back">
            <div class="qroma-modal">
                <div class="title">
                    <h3>Contenido publicado</h3>
                    <h4>Ahora todos pueden verlo</h4>
                    <div class="close" @click="closeModalAprobado">X</div>
                </div>
                <div class="footer">
                    <div @click="continuar" class="btn-success qromateca-success-button">CONTINUAR</div>
                </div>
            </div>
        </div>
        <div class="back-des">
            <div class="qroma-modal">
                <div class="title">
                    <h3>¿Seguro que deseas darle de baja al aprendizaje?</h3>
                    <h4>Una vez borrado no se podrá recuperar</h4>
                    <div class="close" @click="closeModal">X</div>
                </div>
                <div class="footer">
                    <div @click="closeModal" class="qromateca-white-button">CANCELAR</div>
                    <div style="margin-left: 20px;" @click="desaprobarAction" class="qromateca-success-button">CONFIRMAR</div>
                </div>
            </div>
        </div>
    </div>
</div>