.q-big-blue-text {
    text-align: center;
    color: #085CB6;
    font-weight: 600;
    font-size: 32px;
}

.q-small-blue-text {
    color: #085CB7;
    text-align: center;
    letter-spacing: 0;
    font-size: 19px;
}

.firma-bottom-panel {
    margin: auto;
    width: 40%;
    padding-top: 5px;
}

.firma-button-panel {
    background: #4273af 0 0 no-repeat padding-box;
    border-radius: 21px;
    width: 120px;
    height: 35px;
    text-align: center;
    text-decoration: none !important;
    color: white !important;
    font-weight: 500;
    border: none;
    outline: none !important;
}

.display-none {
    display: none;
}